<p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @crypto.user_id %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= @crypto.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto), class: "btn btn-default" %></td>
<%= link_to 'Remove', @crypto, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default"%>
<%= link_to 'Back', cryptos_path, class: "btn btn-default" %>
