<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTrax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%= render 'home/navbar' %>
    <div class="container">
      <%= render 'home/flash' %>
      <%= yield %>
    </div>

    <% console %>
  </body>
</html>
